<div class="container-fluid appContainer">
  <div class="row logo hidden-sm hidden-xs"></div>
  <div class="row logoText visible-xs-block visible-sm-block col-xs-6 col-xs-offset-1" style="margin-top:5px"></div>
  <div class="row logoFrame hidden-xs hidden-sm col-md-12">
    <div class="col-md-offset-9 col-md-2">
      <div class="col-md-4">
        <div class="emailButton logoButtons"></div>
      </div>
      <div class="col-md-4">
        <div class="facebookButton logoButtons"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-4 hidden-xs hidden-small title">
    <span>
      <h2>
        <strong>
             כל פתרונות הענן במקום אחד
        </strong>
      </h2>
    </span>
  </div>
  <div class="col-xs-10 visible-xs-block">
    <span>
      <h4>
        <strong>
             כל פתרונות הענן במקום אחד
        </strong>
      </h4>
    </span>
  </div>
  <div class="row col-md-11 col-md-offset-1">
    <div class="bodyContainer col-md-5 col-xs-12">
      <div class="col-md-10 col-xs-11 col-xs-pull-1">
        <strong>
          אבטחה
        </strong>
        <p>
          <span class="visible-md-block visible-lg-block">
            גיבוי המידע מתבצע על שרתים וירטואליים מרוחקים
          </span>
          <span class="visible-xs-block">
            גיבוי המידע מתבצע על שרתים וירטואליים
          </span>
          <span>
וניתן לשחזור בעל עת ומכל מקום
        </span>
        </p>
      </div>
      <div class="visible-xs-block iconContainer">
        <div class="securityIcon visible-xs-block"></div>
      </div>
      <div class="col-md-2 securityIcon visible-md-block visible-lg-block"></div>
    </div>
    <div class="bodyContainer col-md-5 col-xs-12">
      <div class="col-md-10 col-xs-11 col-xs-pull-1">
        <strong>
          שירות אישי 24/7
        </strong>
          <div>
            תמיכה כל ימות השנה
          </div>
          <div>
          24 שעות ביממה וללא המתנה
          </div>
      </div>
      <div class="visible-xs-block iconContainer">
        <div class="clockIcon visible-xs-block"></div>
      </div>
      <div class="col-md-2 visible-md-block visible-lg-block clockIcon"></div>
    </div>
  </div>
  <div class="row col-md-11 col-md-offset-1">
    <div class="bodyContainer col-xs-12 col-md-5">
      <div class="col-md-10 col-xs-11 col-xs-pull-1">
        <strong>
          תקשורת מכל מקום
        </strong>
          <div>
            תקשורת פנים ארגונית
          </div>
          <div>
          פשוטה וקלה גם מרחוק
          </div>
      </div>
      <div class="visible-xs-block iconContainer">
        <div class="globeButton visible-xs-block"></div>
      </div>
      <div class="col-md-2 globeButton visible-md-block visible-lg-block"></div>
    </div>
    <div class="bodyContainer col-xs-12 col-md-5">
      <div class="col-md-10 col-xs-11 col-xs-pull-1">
        <strong>
          חסכון בעלויות כוח אדם
        </strong>
        <div class="visible-md-block visible-lg-block">
          <div>
אין כל צורך בהעסקת כוח אדם לתחזוקה
          </div>
          <div>
            וניהול של מערכות המידע והתשתיות בארגון
          </div>
        </div>
        <div class="visible-xs-block">
          <div>
אין צורך בהעסקת כוח אדם לניהול
          </div>
          <div>
            ותחזוקת מערכות המידע והתשתיות בארגון
          </div>
        </div>
      </div>
      <div class="visible-xs-block iconContainer">
        <div class="piggybankIcon visible-xs-block"></div>
      </div>
      <div class="col-md-2 visible-md-block visible-lg-block piggybankIcon"></div>
    </div>
  </div>
  <div class="row col-md-11 col-md-offset-1">
    <div class="bodyContainer col-xs-12 col-md-5">
      <div class="col-md-10 col-xs-11 col-xs-pull-1">
        <strong>
          גמישות
        </strong>
          <div>
            שירותי הענן הינם שירותים גימישים וניתנים
          </div>
          <div>
          להרחבה או צמצום של שירוצים לפי צרכי הלקוח
          </div>
      </div>
      <div class="visible-xs-block iconContainer">
        <div class="puzzleIcon visible-xs-block"></div>
      </div>
      <div class="col-md-2 puzzleIcon visible-md-block visible-lg-block"></div>
    </div>
    <div class="bodyContainer col-xs-12 col-md-5">
      <div class="col-md-10 col-xs-11 col-xs-pull-1">
        <strong>
          חסכון בעלויות חומרה
        </strong>
        <div>
אספקת חומרה ייעודית ומחשבים
        </div>
        <div>
          ניידים במחירים הטובים ביותר
        </div>
      </div>
      <div class="visible-xs-block iconContainer">
        <div class="keyboardIcon visible-xs-block"></div>
      </div>
      <div class="col-md-2 visible-md-block visible-lg-block keyboardIcon"></div>
    </div>
  </div>
  <div class="row col-md-9 col-md-offset-2 col-xs-12">
    <h2 class="visible-md-block visible-lg-block">
      להצטרפות לחודש ראשון חינם וללא התחייבות חייגו 073-2724073
    </h2>
    <h4 class="visible-xs-block center col-xs-offset-1">
      <strong>
        להצטרפות לחודש ראשון חינם וללא התחייבות חייגו 073-2724073
      </strong>
    </h4>
  </div>
  <div class="row visible-xs-block visible-sm-block">
    <div class="col-xs-2 col-xs-offset-3 mobileSendIcon visible-xs-block" (click)="openModal()">
    </div>
    <span style="font-size: 16px;" class="col-xs-5 col-xs-pull-1"> או השאירו פרטים</span>
  </div>
  <div class="row visible-md-block visible-lg-block">
    <div class="col-md-1 col-md-offset-2" style="margin-top:-11px">
      <div class="iconContainer sendIcon" style="margin-left:50px;" (click)="registerDetails(model)"></div>
    </div>
    <div class="col-md-7">
      <div class="col-md-6" style="margin-top: 7px;">
        <div class="col-md-6">
          <input placeholder="שם" style="width:100%" type="text" [(ngModel)]="model.name"/>
        </div>
        <div class="col-md-6">
          <input placeholder="טלפון" style="width:100%" type="tel" [(ngModel)]="model.phoneNumber" />
        </div>
      </div>
      <div class="col-md-6 col-md-pull-1 rtl">
        <span style="font-size: x-large;">או השאירו פרטים ונחזור אליכם:</span>
      </div>
    </div>
  </div>
  <div class="row col-md-4 col-md-offset-4 visible-md-block visible-lg-block">
    <span class="subtitle">...כי ענן זה לא בשמיים - KnowIT</span>
  </div>
</div>
<p-dialog  [responsive]="true" rtl="true" [(visible)] = "displayModal"
          modal="modal" showEffect="fade"
          (onAfterHide)="closeModal()">
    <div class="col-xs-6">
      <input placeholder="שם" class="center col-xs-12" type="text" [(ngModel)]="model.name" />
    </div>
    <div class="col-xs-6">
      <input placeholder="טלפון" class="center col-xs-12" type="tel" [(ngModel)]="model.phoneNumber" />
    </div>
  <div class="col-xs-11">
    <div class="col-xs-2 col-xs-offset-6 mobileSendIcon" (click)="registerDetails(model)"></div>
  </div>
</p-dialog>
