<div class="container-fluid col-md-10 col-md-offset-2 logoContainer">
  <div class="row logo"></div>
  <div class="row logoFrame col-md-12">
    <div class="col-md-offset-9 col-md-2">
      <div class="col-md-4">
        <div class="emailButton logoButtons"></div>
      </div>
      <div class="col-md-4">
        <div class="facebookButton logoButtons"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div>
      כל פתרונות המחשוב בענן אחד
    </div>
  </div>
  <div class="row col-md-6 col-md-offset-6">
  </div>
  <div class="row col-md-6 col-md-offset-6">
  </div>
  <div class="row col-md-6 col-md-offset-6">
  </div>
</div>


<!--<alert type="info">ng2-bootstrap hello world!</alert>-->
<!--<pre>Selected date is: <em *ngIf="dt">{{ getDate() | date:'fullDate'}}</em></pre>-->
<!--<h4>Inline</h4>-->
<!--<div style="display:inline-block; min-height:290px;">-->
  <!--<datepicker [(ngModel)]="dt" [minDate]="minDate" [showWeeks]="true"></datepicker>-->
<!--</div>-->
